.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: #129bb6be;

}
.index-text p {
    margin-top:20px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgba(0,0,0);
    font-family: sharktooth;
    font-size: 1.2rem!important;
}
.index-image{
    width: 200px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.jumbotron.fortags a {
    background: #129bb6be !important;
    font-family: sharktooth;
    font-size: 1rem;
}
.error{
    text-align: center !important;
}
@media(min-width: 769px){
    .md-nopad-right{
        padding-right: 0px !important;
    }
    .md-nopad-left{
        padding-left: 0px !important;
    }
}

.shark {
    font-family: sharktooth;
}